.root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-items: stretch;
  gap: 20px;
  margin: 0px;
  padding: 20px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(201, 140, 222) 0%, rgb(138, 56, 201) 100%);
  background-repeat: repeat;
  background-position: 0% 0%;
  background-size: auto auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  height: 100%;
}
.question-name {
}
.question-button {
  opacity: 0.9;
  margin: 5px;
  font-size: 20px;
  padding: 15px;
  font-family: "Pixel";
}
.question {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
}
.input-question-div {
  display: flex;
  flex-direction: column;
  overflow: visible;
}
.input-question:invalid {
  border: 2px solid pink;
}

.input-question {
  font-family: "Pixel";
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
